variacao-ativos/VariacaoAtivos/obj/
variacao-ativos/variacao-ativos/obj/
variacao-ativos/VariacaoAtivos/bin/
variacao-ativos/VariacaoAtivos.Services/obj/
variacao-ativos/VariacaoAtivos.Services/bin/
variacao-ativos/VariacaoAtivos.App/obj/
variacao-ativos/VariacaoAtivos.App/bin/
variacao-ativos/Repository/obj/
variacao-ativos/.vs/
variacao-ativos/Domain/obj/
variacao-ativos/Repository/bin/
variacao-ativos/Domain/bin/
